<%- include ('../partials/header') %>

<div class = "container">
    <h1>My Story</h1>
    <h2>Autobiography of Sherin John</h2>
    
    </div>
    <p>Sherin john is currently enrolled in last semester computer programming course.Amarin is sherin's roommate.Jithu and sandra are living near by.Jerin is sherin's brother.</p>

</div>


<%- include ('../partials/footer') %>